.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.pybuild/
build/
dist/
*.egg-info/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/ssh-vpn-gui/
debian/ssh-vpn-gui.debhelper.log
debian/ssh-vpn-gui.postinst.debhelper
debian/ssh-vpn-gui.prerm.debhelper
debian/ssh-vpn-gui.substvars
