default: proxy
# write your own rules below
domain(domain:mail.qq.com)->direct

ip(geoip:private, geoip:ru)->direct
domain(geosite:ru)->direct
domain(domain:2ip.io)->direct

domain(regexp: '(^|[.])yandex[.](com|net|by|kz|uz|az|com[.]tr)$')->direct
domain(regexp: '(^|[.])ya[.](cc|com)$')->direct
domain(regexp: '(^|[.])yastatic[.]net$')->direct
domain(regexp: '(^|[.])yandexcloud[.]net$')->direct
domain(regexp: '(^|[.])yadi[.]sk$')->direct
domain(regexp: '(^|[.])kinopoisk[.](com|dev)$')->direct

domain(geosite:google-scholar)->proxy

ip(geoip:hk,geoip:mo)->proxy

